
body{
    background-color: #211b25;
    color: #cbb7ed;
    padding: 40px;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

button, select {
    background-color: #cbb7ed;
    color: #000000;
    border: 1px solid #2e0450;
    padding: 10px 20px;
    margin: 30px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover, select:hover {
    background-color: #9056e6;
    color: #ffffff;
    transform: scale(1.05);
}

#kabinett {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 15px;
    max-width: 600px;
    margin: 30px auto;
}

#kabinett li {
    cursor: pointer;
    background-color: rgb(69, 10, 117);
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#kabinett li:hover {
    background-color: #cbb7ed;
    color: black;
    transition: background-color 0.2s;
}
