body {
    background-color: #33aded;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    justify-content: flex-start;
}

*{
    font-family: "Comic Sans MS", sans-serif;
}

h1{
    margin-top: 40px;
    font-family: "Lucida Calligraphy", sans-serif;
    color: white;
}

#custom_tannenbaum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;

}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    background-color: #187525; /* Колір фону */
    color: #fff; /* Колір тексту */
    border: none; /* Видаляємо рамку */
    padding: 5px 10px; /* Внутрішні відступи */
    font-size: 16px; /* Розмір шрифту */
    border-radius: 5px; /* Закруглені кути */
    cursor: pointer; /* Курсор у вигляді руки */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Анімація змін */
}

button:hover {
    background-color: #0b3a12; /* Темніший фон при наведенні */
    transform: scale(1.05); /* Збільшення розміру при наведенні */
}

button:active {
    background-color: #0b3a12; /* Ще темніший фон при натисканні */
    transform: scale(0.95); /* Зменшення при натисканні */
}

label{
    padding: 10px 20px; /* Внутрішні відступи */
    font-size: 20px;
}

#tannenbaum {
    border-left: 150px solid transparent; /* Ліва частина трикутника */
    border-right: 150px solid transparent; /* Права частина трикутника */
    border-bottom: 300px solid #0b3a12; /* Нижня частина трикутника (його колір) */
    position: relative;
}

.lichter {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    animation: blink 1s infinite alternate; /* Анімація блимання */
    opacity: 0;
    animation: fadeIn 1s forwards, blink 1s infinite alternate;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Анімація для блимання: змінюється прозорість */
@keyframes blink {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

#snowContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -10px;
    background-color: white;
    opacity: 0.8;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    animation-name: snow;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes snow {
    from {
        transform: translateY(0) translateX(0);
    }
    to {
        transform: translateY(100vh) translateX(20px);
    }
}

