@font-face {
    font-family: "Orbitron";
    font-style: auto;
    font-weight: 400;
    src: local("Orbitron");
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem;
}

* {
    font-family: "Orbitron";
}

button{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 7px;
    transition: all 2s;
}
button:hover{
    background-color: #fff;
    color: #000;
}

body{
    background-color: #87ceeb;
    transition: background-color 0.5s ease;
}

#weatherDisplay{
    min-height: 75vh;
    position: relative;
}

#sun {
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    animation: moveSun 3s infinite alternate;
}
@keyframes  moveSun {
    0% {top: 30%}
    100% {top: 5%}
}

@keyframes fall {
    from { top: -20px; }
    to { top: 100%; }
}
.raindrop {
    position: absolute;
    background-color: #28415b;
    animation: fall 2s infinite;
    width: 2px;
    height: 10px;
}

@keyframes snow {
    from { top: -20px; }
    to { top: 100%; }
}
.snowflake {
    position: absolute;
    background-color: white;
    animation: fall 3s infinite;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}